<h3 class="heading text-align-center" id="contact">
  Contact <strong>Us</strong>
</h3>
<div class="divider"></div>

<form class="contact" name="contact" method="POST" data-netlify="true" netlify-honeypot="position" data-netlify-recaptcha="true">
  <input class="name col2" type="text" name="name" placeholder="Name" />
  <input class="email col2" type="email" name="email" placeholder="Email" />
  <textarea class="message" name="message" placeholder="Message" rows="5"></textarea>
  <span class="hidden"><input name="position" /></span>
  <div class="captcha" data-netlify-recaptcha="true"></div>
  <div class="actions text-align-center">
    <button class="button button-default" type="submit">Send</button>
  </div>
</form>