<div class="footer">
  <div class="columns-3 content">
    <div class="column">
      <div class="title">About Us</div>
      <div class="logo">Logo</div>
      <div class="body">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Unde laboriosam voluptas delectus similique!
      </div>
    </div>
    <div class="column">
      <div class="title">Quick Links</div>
      <div class="logo"></div>
      <ul>
        <li><a href="#">Link Item</a></li>
        <li><a href="#">Link Item</a></li>
        <li><a href="#">Link Item</a></li>
      </ul>
    </div>
    <div class="column">
      <div class="title">Quick Links</div>
      <div class="logo"></div>
      <ul>
        <li><a href="#">Link Item</a></li>
        <li><a href="#">Link Item</a></li>
        <li><a href="#">Link Item</a></li>
      </ul>
    </div>
  </div>
</div>