<div class="hero jarallax" data-jarallax data-gradient="linear-gradient(rgba(0, 0, 0, 0.20), rgba(0, 0, 0, 0.50))">
  <div class="content">  
    <h2 class="heading">
      <span class="highlight">
        Prototype. Build.<br/>
        Succeed.
      </span>
    </h2>
    <p class="sub-heading">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ducimus nulla suscipit omnis consequatur inventore reprehenderit corrupti quisquam ipsa fugit illo cupiditate, doloremque porro, unde quod officiis placeat molestiae, veniam non!</p>
    <div class="actions">
      <a href="#" class="button button-default">
        How We Can Help You
      </a>
      <a href="#" class="button button-ghost-light">
        Contact Us
      </a>
    </div>
  </div>
</div>