<div class="columns-1 testimonials jarallax" data-jarallax data-gradient="linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.50))">
  <div class="content">
    <div class="title">Client <strong>Testimonials</strong></div>
    <div class="divider divider-light"></div>
    <div class="body">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Est itaque minima cumque dolorem porro distinctio soluta provident atque eaque voluptate?
    </div>
    <div class="client">
      <div class="name">John, President & CEO</div>
      <div class="organization">ProwareLabs Inc.</div>
    </div>
  </div>
</div>