// Layout
form {
  .hidden {
    display: none;
  }
  input[type]:not([type=hidden]),
  textarea {
    padding: 12px 15px;
    margin-bottom: $mar-md;
    border: 1px solid #b9b9b9;

    &::placeholder {
      color: #555555;
    }
  }
  .col2  + .col2 {
    margin-left: $mar-md;
  }
  .g-recaptcha > div:first-child {
    margin: 0 auto;
  }
}

// Responsive
@media all and (max-width: $bp-desktop) {
  form {
    .col2 + .col2 {
      margin-left: 0px;
    }
  }
}