<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Industrial Webworks</title>
  <link rel="stylesheet" href="css/styles.css?version=">
</head>
<body>
  {{>navbar}}
  {{>hero}}
  <div class="columns-3">
    <div class="column"></div>
    <div class="column"></div>
    <div class="column"></div>
  </div>
  {{>cta-need-help}}
  {{>testimonials}}
  {{>contact}}
  {{>footer}}
  
  {{>javascript-includes}}
</body>
</html>
