<div class="columns-1 cta">
  <div class="content">
    <h3 class="heading">Need Web Development <strong>Help?</strong></h3>
    <div class="divider"></div>
    <ul class="body">
      <li>You have an <strong>application idea</strong> that you would like to <strong>prototype</strong> first?</li>
      <li>You need help gettings <strong>web application to communicate</strong> with each other through <strong>API</strong>s?</li>
      <li>A <strong>solidly</strong> built website that requires <strong>little to no maintenance</strong>?</li>
    </ul>
    <div class="actions">
      <a href="#" class="button button-ghost-primary">
        Get in Touch with Us
      </a>
    </div>
  </div>
</div>