// Layout
.cta {
  padding-top: $mar-xl;
  padding-bottom: $mar-xxl;
  display: grid;
  grid-template-columns: 20% auto 20%;
  
  .content {
    grid-column-start: 2;
    grid-column-end: 3;

    .heading {
      margin-bottom: $mar-lg;
    }
    .body {
      margin-bottom: $mar-xxxl;
    }
    .actions {
      margin-bottom: $mar-xxl;
    }
  }
}

// Responsive
@media all and (max-width: $bp-desktop) {
  .cta {
    grid-template-columns: 10% auto 10%;
  }
}
@media all and (max-width: $bp-tablet) {
  .cta {
    grid-template-columns: 5% auto 5%;

    .content .body li {
      margin-bottom: $mar-lg;
    }
  }
}

// Style
.cta {
  font-size: 1.2em;
  text-align: center;

  .content {
    .body {
      color: $gray-darkish;
      
      li {
        list-style: none;
        line-height: 2.25;
      }
    }
  }
}