// Layout
.navbar {
  display: grid;
  grid-template-columns: 20% 80%;
  padding-top: $mar-sm;
  padding-bottom: $mar-sm;

  .logo-container {
    margin-left: $mar-lg;

    .logo {
      margin-top: 2px;
      margin-bottom: -5px;
      height: 52px;
    }
  }
  .nav-items {
    justify-self: end;
    align-self: center;
    margin-right: $mar-lg;

    .nav-item {
      padding: $mar-sm $mar-xl;
      border: 2px solid transparent;
      border-radius: $border-radius;
    }
  }
}

// Responsive
@media all and (max-width: $bp-tablet) {
  .navbar {
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: none;
    justify-items: center;

    .logo-container {
      margin-top: $mar-sm;
      margin-left: -14px;
    }
    .nav-items {
      display: grid;
      justify-self: normal;
      justify-items: center;
      margin-right: 0px;
      padding-top: $mar-md;
      padding-bottom: $mar-sm;

      .nav-item {
        margin-bottom: $mar-sm;
      }
    }
  }
}

// Style
.navbar {

  .nav-items {
    .nav-item {
      text-decoration: none;
      text-transform: uppercase;

      &:link, &:visited, &:focus {
        color: $black;
      }
      &:hover, &:active {
        border-bottom: 2px solid $brand-primary;
      }
    }
    .nav-item.nav-item-button {
      border: 2px solid $brand-primary;

      &:link, &:visited, &:focus {
        color: $brand-primary;
      }
      &:hover, &:active {
        color: $white;
        background-color: $brand-primary;
      }
    }
  }
}
