// Layout
.testimonials {
  display: grid;
  padding-top: $mar-xxl;
  padding-bottom: $mar-xxl;
  grid-template-columns: 15% auto 15%;

  .content {
    grid-column-start: 2;
    grid-column-end: 3;
  }
}

// Style
.testimonials {
  background-image: url("../images/industrial-10.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  color: $white;

  .content {
    font-size: 1.2em;
    text-align: center;

    .title {
      font-size: $h3;
      font-weight: 300;
    }
  }
}